{:api-url "https://api.schiphol.nl/public-flights/flights?includedelays=false&page=0&sort=%2BscheduleTime"
 :api-params {:Accept "application/json"
              :app_id "82405ed0"
              :app_key "9d7ffea2adf25591b3b527d5a61b761d"
              :ResourceVersion "v4"}
 :db-config {:dbtype "postgresql"
      :dbname "schipol_flights_db"
      :host "localhost"
      :user "postgres"
      :port 5432
      :password "nenad123"}
 }
